In [1]:
import pandas as pd
import numpy as np

In [2]:
one = np.array([1, 2, 3, 4, 5])
pd.Series(one)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
Data = {
    "boss": 33,
    "soss": 66,
    "doss": 99
}
pd.Series(Data)

boss    33
soss    66
doss    99
dtype: int64

In [4]:
sub = np.array(["Mathematics", "Chemistry", "Physics", "History", "Geography", "German"])
grades = np.array([90, 54, 77, 62, 85, 56])
Total_grade = pd.Series(grades, index=sub)
Total_grade

Mathematics    90
Chemistry      54
Physics        77
History        62
Geography      85
German         56
dtype: int64

In [5]:
maths = {"a":78, "b":88, "c":90, "d":78, "e":72}
grade = pd.Series(maths)
grade[0:5]

a    78
b    88
c    90
d    78
e    72
dtype: int64

data = [['Ali',10], ['baba',12], ['Chali,13']]
ans = pd.DataFrame(data.columns=['Name','Age'])

In [6]:
maths = {"a":78, "b":88, "c":90, "d":78, "e":72}
grade = pd.Series(maths)
grade[0:3]

a    78
b    88
c    90
dtype: int64

In [8]:
data = [['Ali',10],['baba',12],['Chali',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

    Name  Age
0    Ali   10
1   baba   12
2  Chali   13

In [10]:
data = [['Ali','Maths','M',100,'Theory'], ['Benson','English','M',99,'OBJ'], ['Mali','Maths','M',80,'Project'], ['Blessing','Zoology','F',100,'Theory'], ['Alex','Maths','F',100,'Obj & Theory']]
ans = pd.DataFrame(data,columns=['name','subject','gender','score','exam type'])
ans

       name  subject gender  score     exam type
0       Ali    Maths      M    100        Theory
1    Benson  English      M     99           OBJ
2      Mali    Maths      M     80       Project
3  Blessing  Zoology      F    100        Theory
4      Alex    Maths      F    100  Obj & Theory

In [42]:
data = [['Ali','Maths','M',100,'Theory'], 
        ['Benson','English','M',99,'OBJ'],
        ['Mali','Maths','M',80,'Project'], 
        ['Blessing','Zoology','F',100,'Theory'], 
        ['Alex','Maths','F',100,'Obj & Theory']]
ans = pd.DataFrame(data,columns=['name','subject','gender','score','exam type'])
ans1 = ans[['score', 'exam type']]
ans1.T

                0    1        2       3             4
score         100   99       80     100           100
exam type  Theory  OBJ  Project  Theory  Obj & Theory

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('drug_consumption.csv')
df.info()

FileNotFoundError: [Errno 2] No such file or directory: 'drug_consumption.csv'